<!DOCTYPE HTML>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">

    <title>CRUD em Node-JS e MongoDB</title>
    
    <!-- JQuery -->
    <script src="js/jquery-2.2.1.js"></script>

    <!-- bootstrap - link cdn -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  
    <!-- incluindo css -->
    <link href="css/style.css" rel="stylesheet">

    <!-- favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" />
  </head>

  <body>

    <div class="container">

      <% if(validacao.length > 0) { %>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-danger">
            <strong>Atenção!</strong>
           
            <ul>
             <% for(var i = 0;i < validacao.length; i++){ %>
              <li><%= validacao[i].msg %></li>
             <% } %>
            </ul>
           
          </div>
        </div>
      </div>
       <% } %>
  
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4" style="background-color: #08b2c1; color: #fff;margin-top: 10px;padding:20px;">

          <h2 style="font-size:20px;"><img src="images/add_new_user.png" id="image_add_user">Cadastrar Novo Usuário:</h2>

            <form action="/cadastrar" method="post">
            <div class="form-group">
              <label for="titulo"><span class="asterisco_req">*</span> Nome:</label>
              <input type="text" class="form-control" value="<%=dadosForm.nome%>" id="nome" name="nome">
            </div>

            <div class="form-group">
              <label for="pwd"><span class="asterisco_req">*</span> Sobrenome:</label>
              <input type="text" class="form-control" value="<%=dadosForm.sobrenome%>" id="sobrenome" name="sobrenome">
            </div>

            <button type="submit" class="btn btn-primary" title="Cadastrar">Cadastrar</button>
            </form>

             <br>
           <button><a href="/">Voltar</a></button>

          </div>
        </div>
      </div>
  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  
  </body>
</html>
